#sidebar {
  background: var(--bg-color-lighter);
  width: 10em;
  display: flex;
  flex-direction: column;

  >ul {
    overflow: hidden;
    font-size: var(--sidebar-font-size);
    white-space: nowrap;

    >li {
      line-height: calc(var(--sidebar-font-size) * 2.5);
    }

    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      outline: none;
      cursor: pointer;
      padding: 0 1em;

      &:hover,
      &.active {
        background-color: var(--bg-color);
      }

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }
}
